pkgbase = glyph-pdf-bin
	pkgdesc = PDF editor for Arch Linux
	pkgver = 1.0.10
	pkgrel = 1
	url = https://github.com/dansc89/Glyph
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = glibc
	depends = fontconfig
	depends = mesa
	depends = vulkan-icd-loader
	depends = wayland
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrandr
	provides = glyph-pdf
	conflicts = glyph-pdf
	source = https://github.com/dansc89/Glyph/releases/download/1.0.10/glyph-arch-x86_64.tar.gz
	sha256sums = ad56285f18be0527e3f71309febce540a4f7e7a6e82a9ea037a0a4d022d260e5

pkgname = glyph-pdf-bin
