pkgbase = glyph-pdf-bin
	pkgdesc = Native Linux PDF drawing-set editor inspired by Drawbridge
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/dansc89/Glyph
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = glibc
	depends = fontconfig
	depends = mesa
	depends = vulkan-icd-loader
	depends = wayland
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrandr
	provides = glyph-pdf
	conflicts = glyph-pdf
	source = https://github.com/dansc89/Glyph/releases/download/1.0.1/glyph-omarchy-x86_64.tar.gz
	sha256sums = cd11ee29e27decbfc8b02066177d3d06c64c49de7a0dc75c5b35c05d8fe0315e

pkgname = glyph-pdf-bin
